* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  body {
    width: 100%;
    height: 100%;
    background-color: #111;
    color: white;
    padding: 20px;
  }
  H1 {
    text-align: center;
    margin-bottom: 20PX;
   } 
  
  #horizontal-scroll {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    scroll-behavior: smooth;
  }
  .movie-card {
    flex: 0 0 auto;
    width: 300px;
    background-color: #222;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: transform 0.5s ease;
  }
  .movie-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .movie-card:hover {
    transform: scale(1.05);
  }
  .movie-details {
    padding: 15px;
  }
  .movie-title ,h3{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: aqua;
  }
  